@keyframes turn {
    0% {
        transform: rotate3d(0, 1, 0, 45deg);
        animation-timing-function: ease-in;
    }

    50% {
        transform: rotate3d(0, 1, 0, -1125deg) scaleY(1) scaleZ(1);

    }

    100% {
        transform: rotate3d(0, 1, 0, -3375deg) scaleY(.2) scaleZ(1.2);
    }

}

@keyframes turndown {
    0% {
        transform: rotate3d(0, 1, 0, 555deg) scaleY(.2) scaleZ(1.2);
        animation-timing-function: linear;
    }
    1% {
        transform: rotate3d(0, 1, 0, 535deg) scaleY(1) scaleZ(1);
        animation-timing-function: ease-out;
    }

    50% {
        transform: rotate3d(0, 1, 0, 0deg);
        animation-timing-function: ease-in-out;

    }

    100% {
        transform: rotate3d(1, 0, 0, -90deg) translate(0, -90%);

    }

}


* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(bg.png);
}

.scene {
    width: 200px;
    height: 200px;
    border: 1px solid #cccccc00;
    perspective: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
}

.cube.show-front {
    transform: translateZ(-100px) rotateY(0deg);
}

.cube.show-right {
    transform: translateZ(-100px) rotateY(-90deg);
}

.cube.show-back {
    transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show-left {
    transform: translateZ(-100px) rotateY(90deg);
}

.cube.show-top {
    transform: translateZ(-100px) rotateX(-90deg);
}

.cube.show-bottom {
    transform: translateZ(-100px) rotateX(90deg);
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    text-align: center;
}

.hidden {
    display: none;
}

.cube__faceShort {
    position: absolute;
    width: 200px;
    height: 53px;
    border: 2px solid black;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    text-align: center;
}


img {
    width: 100%;
    transition: opacity 5s;
}

.cube__face--front {
    transform: rotateY(0deg) translateZ(100px);
}

.cube__face--right {
    transform: rotateY(90deg) translateZ(100px);
}

.cube__face--back {
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--top {
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
}


.cube__face--frontsmall {
    transform: rotateY(0deg) translateZ(110px) translateY(-8px) scale(1.1);
}

.cube__face--rightsmall {
    transform: rotateY(90deg) translateZ(110px) translateY(-8px) scale(1.1);
}

.cube__face--backsmall {
    transform: rotateY(180deg) translateZ(110px) translateY(-8px) scale(1.1);
}

.cube__face--leftsmall {
    transform: rotateY(-90deg) translateZ(110px) translateY(-8px) scale(1.1);
}

.cube__face--topsmall {
    transform: rotateX(90deg) translateZ(110px) scale(1.1);
}


label {
    margin-right: 10px;
}


.cube__face--frontins {
    transform: rotateY(0deg) translateZ(99.9px);
}

.cube__face--rightins {
    transform: rotateY(90deg) translateZ(99.9px);
}

.cube__face--backins {
    transform: rotateY(180deg) translateZ(99.9px);
}

.cube__face--leftins {
    transform: rotateY(-90deg) translateZ(99.9px);
}

.cube__face--topins {
    transform: rotateX(90deg) translateZ(99.9px);
}

.cube__face--bottomins {
    transform: rotateX(-90deg) translateZ(99.9px);
}
.cube__face--bow {
    transform:   translateY(-130px);
        border: 2px solid rgba(0, 0, 0, 0);

    width: 200px;
    height: 80px;
}

#chrismas { 
    text-align: center;
    margin-top: 60vh;
    z-index: 50;
    opacity: 0;
    position: relative;
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
    transition: opacity 3s;
}
.s1,.s3{
    color: #00873e;
}
.s2{
    color: #d6011b;
}